
@{
    ViewBag.Title = "ShowLeagueDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DVSleague.Models.League
    
<h2>ShowLeagueDetails</h2>

<div class="border playerBox">
    <div class="margin">
        League name: <span class="fontBold">@Model.Name</span>
    </div>
    <div class="margin">
        Country: <span class="fontBold">@Model.Country</span>
    </div>
    <div class="margin">
        Top scorer:
        <span class="fontBold">
            @{
                if (Model.TopScorer != null)
                {
                    @Model.TopScorer.FirstName @Model.TopScorer.LastName
                }
             }
        </span>
    </div>
    <div class="margin">
        Top assistant:
        <span class="fontBold">
            @{
                if (Model.TopAssistant != null)
                {
                    @Model.TopAssistant.FirstName @Model.TopAssistant.LastName
                }
            }
        </span>
    </div>
    <div class="margin">
        MVP:
        <span class="fontBold">
            @{
                if (Model.MVP != null)
                {
                    @Model.MVP.FirstName @Model.MVP.LastName
                }
            }
        </span>
    </div>
    <a class="btn btn-success margin" href="@Url.RouteUrl("show_teams_in_league", new { id = Model.Id })">Show all teams in league</a>
</div>

